@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <h1 class="display-4">Website Still Under Construction</h1>
        <div class="links">
            <p>Visit our <a href="https://www.amazon.com/wedding/share/retrosunflower"> Amazon Registry</a></p>
        </div>
    </div>
