@{
    ViewData["Title"] = "Home Page";
    string venmo = "@Eli-Harris-10";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <div class="links">
            <p>Visit our <a href="https://www.amazon.com/wedding/share/retrosunflower"> Amazon Registry</a></p>
            <p>Cash App: $EChidwick</p>
            <p>PayPal: PayPal.me/echidwick</p>
            <p>Venmo: @venmo</p>
        </div>
    </div>
