
@{
    ViewData["Title"] = "Livestream";
}
<div class="text-center">
    <h1 class="display-4">Livestream Here!</h1>
    <div class="links">
        <iframe src='https://www.youtube.com/embed/live_stream?channel=UCj7RAWHoPELvVE8ABz1f5Rw' 
                frameborder='0'></iframe>
    </div>

</div>

