
@{
    ViewData["Title"] = "Livestream";
}
<div class="text-center">
    <h1 class="display-4">Livestream Here!</h1>
    <div class="links">
    <p>The livestream will be availible shortly before 11am MDT June 12th</p>
    </div>

</div>

